/* Color scheme: https://www.fabmood.com/blue-grey-and-purple-color-scheme-49/ */
:root {
    --color-dark-purple: #1b1f3b;
    --color-purple: #6a0dad;
    --color-ice-blue: #9ef8ee;
    --color-bright-pink: #ff6b81;
    --color-neon-green: #32ff6a;
    --color-gray: #e6e6e6;
}

h1 {
    text-align: center;
    font-size: 30px;

}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

/* Header Styling */
header {
    height: 175px;
    width: 100%;
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo svg {
    height: 70px;
    width: 70px;
    fill: var(--color-ice-blue);
}

.brand-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-weight: bold;
    color: var(--color-ice-blue);
    text-decoration: none;
    transition: color 0.2s ease;

}

/* Right nav */
header nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

header nav div {
    display: flex;
    gap: 30px;
}

/* Stack links when small screen */
@media (max-width: 600px) {
    header nav div {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        background-color: var(--color-purple);
        padding: 10px;
    }

    header nav {
        position: absolute;
        top: -10%;
        right: -5%;
        transform: none;
    }
}

header nav a {
    text-decoration: none;
    color: var(--color-ice-blue);
    font-weight: 500;
    font-size: 18px;
    transition: color 0.2s ease;

}

header a:hover {
    color: var(--color-bright-pink);
}

section {
    background-color: var(--color-gray);
    width: 100%;
    padding: 20px 0;
    /* Vertical padding */
}

#section-1 {
    background-image: url('/media/device.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 30vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: white; */
    /* text-align: center; */
    /* padding: 2rem; */
}

#section-2 {
    background:
        linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0.9)),
        url('/media/device.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.section-2-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.section-2-image img:hover {
    transform: scale(1.5);
}

@media (max-width: 900px) {
    .section-2-container {
        flex-direction: column;
        text-align: center;
    }

    .section-2-image,
    .center-left-content {
        max-width: 100%;
    }

    .center-left-content p {
        margin-left: auto;
    }
}

#section-3 {
    background-image: url('/media/device.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 25vh;
    padding: 2rem 0;
}

.section-3-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    color: var(--color-gray);
    /* White text on dark background */
}

.section-3-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.section-3-image img:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .section-3-container {
        flex-direction: column;
        text-align: center;
    }

    .section-3-image,
    .center-right-content {
        max-width: 100%;
    }

    .center-right-content p {
        margin-left: auto;
    }
}

.background-box {
    background-color: rgba(230, 230, 230, 0);
    /* initial 0 opacity */
    border-radius: 16px;
    padding: 1.5rem;
    transition: background-color 0.5s ease;
}

.hover-box:hover .background-box {
    background-color: rgba(230, 230, 230, 0.8);
}

#section-4 {
    background:
        linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0.9)),
        url('/media/device.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center-left-content {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
}

.center-left-content p {
    width: 75%;
    margin-left: 13%;
}

.center-right-content {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    color: var(--color-purple);

}

.center-right-content p {
    width: 75%;
    margin-left: 13%;
}

section>div {
    width: 80%;
    color: var(--color-purple);
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 825px) {

    .section-2-container,
    .section-3-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .center-left-content,
    .center-right-content,
    .section-2-image,
    .section-3-image {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 1rem;
    }

    .center-left-content p,
    .center-right-content p {
        width: 90%;
        margin: 0 auto;
    }

    .background-box {
        background-color: rgba(230, 230, 230, 0.8);
        /* Ensure it appears even on small screens */
    }
}


/* Body Styling */
.team-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

@media (max-width: 1250px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 0%;
    }
}

@media (max-width: 825px) {
    .team-grid {
        grid-template-columns: 1fr;
        width: 0%;
    }
}

.team-member {
    background-color: rgba(230, 230, 230, 0.5);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;

}

@media (max-width: 1250px) {
    .team-member {
        max-width: 300px;
        width: 100%;
    }
}

@media (max-width: 825px) {
    .team-member {
        max-width: 300px;
        width: 100%;
    }
}

.team-member:hover {
    background-color: var(--color-gray);
}

.team-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    border: 3px solid var(--color-purple);
    transition: border-color 0.2s ease;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-purple);
    color: var(--color-gray);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.team-photo:hover {
    border-color: var(--color-bright-pink);
}

.btn:hover {
    background-color: var(--color-bright-pink);
    color: var(--color-ice-blue);
}

.team-member h3,
.team-member p,
.team-member .btn,
.team-photo {
    margin: 0.5rem;
}

/* Footer Styling */
footer {
    height: 175px;
    width: 100%;
    background-color: var(--color-dark-purple);
    /* Light background, adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    /* Change to 'absolute' or 'fixed' if you want sticky behavior */
    bottom: 0;
}

/* Optional: style the inner content */
/* footer div {
    width: 100%;
    max-width: 1200px;
    text-align: center;
} */

/* Style the list of links */
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* Style each list item */
/* footer ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}  */

/* Style the SVG icons */
footer svg {
    width: 40px;
    height: 40px;
    fill: var(--color-gray);
    transition: fill 0.2s ease;
    /* Smooth transition added */
}

footer a:hover svg {
    fill: var(--color-bright-pink);
}